# Ignore Python virtual environment
venv/

# Ignore uploads directory
uploads/

# Ignore environment variables file
Api.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Firebase cache (if applicable)
.firebase/

# Ignore Node.js modules (if applicable)
node_modules/

# Ignore React build folder (if applicable)
build/